{% extends "base.html" %}
{% block title %}YP Scraper{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="notice-board">
            <h3>Search Parameters</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form novalidate class="form-horizontal" action="" method="POST">
                        <div class="form-group row">
                            <label for="search_term" class="col-sm-2 col-form-label">{{ form.search_term.label }}</label>
                            <div class="col-md-4">
                                {{ form.search_term(class_="form-control") }}
                                {% for error in form.search_term.errors %}
                                    <span>[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <label for="search_location" class="col-sm-2 col-form-label">{{ form.search_location.label }}</label>
                            <div class="col-md-4">
                                {{ form.search_location(class_="form-control") }}
                                {% for error in form.search_location.errors %}
                                    <span>[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="recipient_emails" class="col-sm-2 col-form-label">{{ form.recipient_emails.label }}</label>
                            <div class="col-sm-10">
                                {{ form.recipient_emails(class_="form-control", placeholder="email@domain.com") }}
                                {% for error in form.recipient_emails.errors %}
                                    <span>[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        {{ form.submit(class="btn btn-warning btn-lg btn-block") }}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h3>Instructions</h3>
        <div class="alert alert-warning">
            <ul>
                <li>The search term can be anything you want to search Yellow Pages for.</li>
                <li>The location can take the form of a City, State (e.g. 'Chicago, IL) or just a State name (e.g. 'IL' or 'Illinois').</li>
                <li>Enter a comma-separated list of e-mails to receive the scrape results as a CSV.</li>
        </div>
        <hr />
    </div>

    <div>
        <div class="col-md-12">
            <h3>Search History</h3>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Run Time</th>
                        <th scope="col">Search Term</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in search_history %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td> {{ item.timestamp }} </td>
                            <td> {{ item.term }} </td>
                            <td> {{ item.location }} </td>
                            <td> Complete </td>
                            <td> None Avail. </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not search_history %}
                Log in to see your search history.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
